@import '../../styles/fonts';
@import '../../styles//colors';

.home {
  display: grid;
  place-items: center;

  .subtitle {
    color: $color-N500;
    margin-top: 15px;
    margin-bottom: 25px;
  }

  .home-button { 
    padding: 18px;
    background-color: $color-alice-blue;
    border-radius: 5px;
    cursor: pointer;

    p {
      color: white;
      margin: 0;
    }

    &:hover {
      background-color: white;
      border: 1px solid black;

      p {
        color: black;
      }
    }
  }
}